.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #fff;
  height: 100%;
}

/* .sidebar_header {
  height: 8%;
  width: 100%;
  display: flex;
  border-bottom: solid 3px #f4f0ec;
} */
